# Ignore folders where CMake builds the project
build/
out/
.cache/
compile_commands.json

# Ignore files created by IDEs (VS Code, CLion, etc.)
.idea/
.vscode/
*.swp
*.suo
*.user

.VSCodeCounter
Testing/