# Сборка CMake
build/
build_release/
out/
bin/

# Тестирование и логи
Testing/
logs/
*.log

# IDE и редакторы
.vscode/
.VSCodeCounter/
.idea/
*.swp
compile_commands.json

# Зависимости (если вдруг CMake качает их локально)
_deps/

.VSCodeCounter
Testing/